* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 4vh;
    letter-spacing: 0.01vw;
    background-color: whitesmoke;
    font-size: 1.2em;
    font-family: 'Exo', sans-serif;
    color: #092834;

}

.info {
    position: absolute;
    line-height: 20px;
    font-size: 14px;
    left: 20px;
    top: 20px;
}

header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 23%;
    background-image: linear-gradient(to right, #514f50, whitesmoke);
    position: fixed;
    height: 100%;
    overflow: auto;
}

header img {
    box-shadow: 0 2px 15px #092834;
    border-radius: 50%;
    margin: 20%;
    transform: scaleX(-1);
    clip-path: polygon(30% 4%, 70% 4%, 96% 30%, 96% 70%, 70% 96%, 30% 96%, 4% 69%, 4% 31%);
}



nav ul li {
    list-style-type: none;
    padding: 0.5vw;
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    color: #092834;
    font-size: 2vw;

}

nav a:active {
    text-shadow: 2px 2px 3px #ddeaf9;
}

.menu p {
    margin-top: 10em;
    padding: 0.7em;
}

span {
    color: #BB2649;
}

main {
    text-align: justify;
    margin-left: 24%;
    padding: 1.6em;
}

main a {
    color: #BB2649;
}

main section {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

section img {
    width: 4em;
    margin-top: 2em;
}

section ul li {
    list-style-type: none;
}

.check {
    width: 1em;
}

h2 img {
    width: 1em;
}

#barra {
    font-size: 1.2em;
}


@media screen and (max-width:780px) {

    .menuX {
        position: fixed;
        right: 1em;
        top: 1em;  
        width: 2em;  
        margin: 0.5em;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        z-index: 100;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
      }
    
      ._l{
        border-bottom: 2px solid #BB2649;
        margin-bottom: 5px;
        border-radius: 2px;
        width: 1.8em;
        height: 4px;
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
      }
    
      .menuX:hover .-arriba {
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
      }
    
      .menuX:hover .-abajo {
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
      }
    
      .menuX.is-active .-arriba {
        -webkit-transform: translateY(200%) rotate(48deg) !important;
        -ms-transform: translateY(200%) rotate(48deg) !important;
        transform: translateY(200%) rotate(48deg) !important;
      }
    
      .menuX.is-active .-medio {
        opacity: 0;
      }
    
      .menuX.is-active .-abajo {
        -webkit-transform: translateY(-200%) rotate(132deg) !important;
        -ms-transform: translateY(-200%) rotate(132deg) !important;
        transform: translateY(-200%) rotate(132deg) !important;
      }
    
      .menu.is-active {
         transform: translate3d(0px, 0px, 0px); 
      }
    
     .menu { 
        width:65%;
        height:100%;
        overflow-y: scroll;
        position: fixed;
        background-image:linear-gradient(to right, #514f50, whitesmoke) ;
        padding: 1em;
        transform: translate3d(-100%, 0px, 0px);
        transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
        z-index: 80;
      }

       nav a{
        font-size:1.2em;
       }

    body {
        line-height: 4vh;
        letter-spacing: 0.01vw;
        background-color: whitesmoke;
        font-size: 1em;
        font-family: 'Exo', sans-serif;
        color: #092834;
       
    }

    body header {
        background-image: none;
    }

    main {
        margin-left: -0.5%;
        
    }
    #bloque2 a{
        margin-left: 2.5em;

    }
    .certificaciones{
        margin-left: 2em;
        text-align:left;
    }
    .estudios{
        margin-left: 2em;
        text-align:left;
    }
    .especialidades{
        margin-left: 2em;
    }
}
